[submodule "3rd/bgfx"]
	path = 3rd/bgfx
	url = https://github.com/bkaradzic/bgfx.git
[submodule "3rd/bx"]
	path = 3rd/bx
	url = https://github.com/bkaradzic/bx.git
[submodule "3rd/bimg"]
	path = 3rd/bimg
	url = https://github.com/bkaradzic/bimg.git
